#game {
	position: relative;
	border: 1px solid blue;
	width: 500px;
	margin: 0 auto;
	height: 500px;
}

.paddle {
	background-color: red;
	position: absolute;
	width: 100px;
	height: 10px;
	bottom: 20px;
}

.ball {
	border: 5px blue solid;
	border-radius: 5px;
	width: 0;
	height: 0;
	position: absolute;
	z-index: 1;
}
.ball.team-0 {
	border-color: green;
}
.ball.team-1 {
	border-color: white;
}

.life {
	border: 5px blue solid;
	border-radius: 5px;
	width: 0;
	height: 0;
	float: right;
	position: relative;
}

.brick {
	position: absolute;
	opacity: 1;
	width: 20px;
	height: 10px;
}

.brick.team-0 {
	background-color: green;
}
.brick.team-1 {
	background-color: white;
}

#message {
	font-family: sans-serif;
	color: red;
	position: absolute;
	left: 0;
	top: 0;
}

.invisible {
	display: none;
}
